@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Space+Grotesk:700");


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
}

.container-center-vertical > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from { opacity: 0 }
 to { opacity: 1 }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root { 
  --black: #000000;
  --visual-colorred-c4: #f91100;
  --white: #ffffff;
 
  --font-size-m: 24px;
 
  --font-family-space_grotesk: "Space Grotesk", Helvetica;
}
.spacegrotesk-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-space_grotesk);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

:root {
}


/* screen - visuals-page-08 */

.visuals-page-08 {
  background-color: var(--white);
  border: 1px none;
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.visuals-page-08 .rectangle-6316-aB774y {
  background-color: var(--black);
  border: 1px none;
  height: 844px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 392px;
}

.visuals-page-08 .group-48096641-aB774y {
  background-color: transparent;
  height: 62px;
  left: 309px;
  position: absolute;
  top: 25px;
  width: 62px;
}

.visuals-page-08 .ellipse-1-rbcnP1 {
  background-color: var(--white);
  border: 0.6111111044883728px none;
  border-radius: 31px;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 62px;
}

.visuals-page-08 .x-rbcnP1 {
  background-color: transparent;
  height: 24px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 24px;
}

.visuals-page-08 .frame-48096755-aB774y {
  align-items: flex-start;
  background-color: transparent;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  left: 50px;
  position: absolute;
  top: 155px;
  width: fit-content;
}

.visuals-page-08 .frame-48096754-ihwxig {
  align-items: flex-start;
  background-color: transparent;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.visuals-page-08 .title-x8ejf9 {
  background-color: transparent;
  color: var(--visual-colorred-c4);
  font-family: var(--font-family-space_grotesk);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.visuals-page-08 .rectangle-31-x8ejf9 {
  background-color: var(--visual-colorred-c4);
  border: 1px none;
  height: 8px;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
}

.visuals-page-08 .NormalBox {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
  font-family: var(--font-family-space_grotesk);
font-size: var(--font-size-m);
font-style: normal;
font-weight: 700;
letter-spacing: 0.00px;
color: white;
}

.visuals-page-08 .rectangle-74-aB774y {
  background-color: transparent;
  border: 10px solid;
  border-color: #bf1003;
  height: 152px;
  left: 308px;
  position: absolute;
  top: 708px;
  width: 95px;
}

.visuals-page-08 .rectangle-70-aB774y {
  background-color: #ac413a;
  border: 4px none;
  height: 144px;
  left: 265px;
  mix-blend-mode: normal;
  position: absolute;
  top: 768px;
  width: 85px;
}